body {
    margin: 0;
    padding: 0;
    font-size: 40px;

    background: white;
}

table tr.selected {
    background-color: lightgray;
}

table tr:hover td {
    border: 1px solid black;
}

.match-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.match-title p {
    font-family: 'Domine';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #404040;
    margin: 0;
    margin-top: 10px;
}

.select-friend-table {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    width: 800px;
    box-sizing: border-box;
    padding-top: 40px;

    flex-direction: row;
}

.friend-1-table {
    display: inline-block;
    flex-direction: row;
    margin: auto;
    background: #F8F6FC;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
}

#myform-friend1 {
    margin: auto;
    background: #F8F6FC;
    border-radius: 30px;
    padding: 30px;
}

#myform-friend2 {
    margin: auto;
    background: #F8F6FC;
    border-radius: 30px;
    padding: 30px;
}

.friend-2-table {
    display: inline-block;
    flex-direction: row;
    margin: auto;
    background: #F8F6FC;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
}

/* .match-button {
    box-sizing: border-box;
    flex-direction: row;
    margin: auto;
    align-items: center;
    padding: 4px 15px;
    gap: 8px;
    width: 150px;
    height: 35px;
    background: #F8F6FC;
    border: 1px solid #EBD5D5;
    border-radius: 17px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: 'M PLUS Rounded 1c';
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    text-align: center;
    letter-spacing: 0.41px;
    color: #404040;
} */

.match-button {
    flex-direction: row;
}

.match-button img {
    width: 150px;
    height: auto;
}

.friend-item {
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c';
}

.friend-title {
    font-size: 35px;
    font-family: 'M PLUS Rounded 1c';
}