body {
    margin: 0;
    padding: 0;

    background: white;
}

.profile-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.profile-title p {
    font-family: 'Domine';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: #404040;
    margin: 0;
    margin-top: 10px;
}

.profile-box {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    margin-top: 10px;

    width: 650px;
    height: 550px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);

    background: #F56485;
    border-radius: 30px;

    flex-direction: column;
}

.item-box {
    flex-direction: row;
    width: 500px;
    height: 55px;
}

input, select {
    display: inline-block;
    font-size: 14px;
    width: 200px;
    height: 45px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #F8F6FC;
    background: #F8F6FC;
    border-radius: 17px;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
}

label {
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: left;
    font-family: 'M PLUS Rounded 1c';
    font-size: 18px;
    color: #F8F6FC
}

.button {
    box-sizing: border-box;
    flex-direction: row;
    margin: auto;
    align-items: center;
    padding: 4px 15px;
    gap: 8px;
    width: 150px;
    height: 35px;
    background: #F8F6FC;
    border: 1px solid #EBD5D5;
    border-radius: 17px;
    flex: none;
    order: 2;
    flex-grow: 0;
    font-family: 'M PLUS Rounded 1c';
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    text-align: center;
    letter-spacing: 0.41px;
    color: #404040;
    display: block;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}