<html lang="en">
<head>
    <link href="/static/css/add_friends.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/profile.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    {% include "header.html" %}
    <h1>Add Friends</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
        </tr>
        {% for potential_friend in potential_friends: %}
        <tr>
            <td>{{potential_friend[1]}}</td>
            <td>{{potential_friend[2]}}</td>
            <td>
                <form method="post" action="{{url_for('add_friends', username=username, friend_username=potential_friend[0])}}">
                    <button type="submit">Add Friend</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
       'use strict';
       function setup(){
        $('body').on('click', '#friend', function() {
            var $row = $(this).closest("tr");
            var first_name = $row.find("td:nth-child(1)").text();
            var last_name = $row.find("td:nth-child(2)").text();

            console.log(first_name);
            console.log(last_name);
            console.log(username)

            //let url = '/add_friend_to_user/' + username '?first_name=' + first_name + '&last_name=' + last_name;
            //window.location = url
          });
       }
       $('document').ready(setup)
    </script>

</body>
</html>