<html lang="en">
<head>
    <link href="static/css/add_friends.css" rel="stylesheet" type="text/css" media="all">

    <link href="static/css/main.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    {% include "header.html" %}

    <h1>Add Friends Page</h1>
    {%if users%}
    <div class="row">
      <div class="column">
        <h2>Users List</h2>
        <form action="search" method="get">
            <input type="search" name="name" id="name" placeholder="Username" required/>
            <input type="submit" class="button" value="Search"/>
        </form>
        <table>
          {%for user in users%}
            <div class="user_list">
                <form action="add_friends" method="post">
                    <p name="user_username" id="user_username">{{user[0]}}</p>
                    <input type="submit" class="button" value="Submit"/>
                </form>
            </div>
          {%endfor%}
        </table>
        <table>
          {%for friend in friends%}
            <div class="friend_list">
                <p>{{friend[0]}}</p>
            </div>
          {%endfor%}
        </table>
      </div>

    </div>
    {%endif%}
</body>
</html>