<html lang="en">
<head>
    <link href="static/css/add_friends.css" rel="stylesheet" type="text/css" media="all">

    <link href="static/css/main.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    {% include "header.html" %}

    <h1>Add Friends Page</h1>
    {%if users%}
    <div class="row">
      <div class="column">
        <h2>Users List 2</h2>
        <form action="search" method="post">
            <input type="text" name="name" id="name" placeholder="Username" required/>
            <input type="submit" class="button" value="Submit"/>

        </form>
        <table>
          {%for user in users%}
            <div class="friend_list">
                <form class="add_friend" method="post">
                    <p>{{user[0]}}</p>
                    <input type="submit" class="button" value="Add Friend"/>
                </form>
            </div>
          {%endfor%}
        </table>
      </div>

    </div>
    {%endif%}
</body>
</html>