<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/add_friends.css" rel="stylesheet" type="text/css" media="all">
    <link href='https://fonts.googleapis.com/css?family=Domine' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=M PLUS Rounded 1c' rel='stylesheet'>
</head>
<body>
    {% include "header.html" %}
    <div class="friends-container">
      <div class="friends-title">
        <p>Find Friends</p>
      </div>
      <br>
      <div class="find-friends-box">
        <form action="{{ url_for('add_friends', username=username) }}" method="get">
          <div class="item-box">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" placeholder="First Name" />
          </div>
          <div class="item-box">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" placeholder="Last Name" />
          </div>
          <div class="item-box">
            <label for="residential_college">Residential College</label>
            <select id="residential_college" name="residential_college">
              <option value="any">Any</option>
              <option value="benjamin_franklin">Benjamin Franklin</option>
              <option value="berkeley">Berkeley</option>
              <option value="branford">Branford</option>
              <option value="davenport">Davenport</option>
              <option value="ezra_stiles">Ezra Stiles</option>
              <option value="grace_hopper">Grace Hopper</option>
              <option value="jonathan_edwards">Jonathan Edwards</option>
              <option value="morse">Morse</option>
              <option value="pauli_murray">Pauli Murray</option>
              <option value="saybrook">Saybrook</option>
              <option value="silliman">Siliman</option>
              <option value="timothy_dwight">Timothy Dwight</option>
              <option value="trumbull">Trumbull</option>
            </select>
          </div>
          <div class="item-box">
            <label for="class_year">Class Year</label>
            <select id="class_year" name="class_year">
              <option value="any">Any</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2026">2026</option>
            </select>
          </div>
          <div class="item-box">
            <label for="gender">Gender</label>
            <select id="gender" name="gender">
              <option value="any">Any</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="nonbinary">Non-binary</option>
            </select>
          </div>
          <div class="item-box">
            <label for="orientation">Sexual Orientation</label>
            <select id="orientation" name="orientation">
              <option value="any">Any</option>
              <option value="straight">Straight</option>
              <option value="gay">Gay</option>
              <option value="lesbion">Lesbion</option>
              <option value="bisexual">Bisexual</option>
            </select>
          </div>
          <br>
          <input type="submit" class="button" value="Find Friends"/>
        </form>
      </div>
    </div>
</body>
</html>