<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        {% include "header.html" %}
        <h1>Inbox</h1>

        <div class="pending">
            <table id="pending-datatable">
                <h2>Potential matches</h2>
                <thead>
                    {% for match in inbox_data %}
                        {% if match[1] is none %}
                            <tr>
                                <td>{{match[2]}} {{match[3]}}</td>
                                <td><a href="{{username}}/view_profile?match={{match[0]}}">View Profile</a></td>
                                <form name="match" action="{{ url_for('inbox', username=username) }}" method="POST">
                                    <td><label><input type="radio" name="Status" value="Accept" id="Accept">Accept</label></td>
                                    <td><label><input type="radio" name="Status" value="Decline" id="Decline">Decline</label></td>
                                    <td><button type=”submit” name="potential_match" value="{{match[0]}}">Submit</button></td>
                                </form>
                            </tr>
                        {%endif%}
                    {% endfor %}
                </thead>
            </table>
        </div>
        <br />
        <div class="accepted">
            <h2>Matches</h2>
            <table id="accepted-datatable">
                <thead>
                    {% for match in inbox_data %}
                        {% if match[1] == 1 %}
                            <tr>
                                <td>{{match[2]}} {{match[3]}}</td>
                                <td><a href="{{username}}/view_profile?match={{match[0]}}">View Profile</a></td>
                                <!-- <td></td>
                                <td></td>
                                <td>Contact: {{match[4]}}</td> -->
                            </tr>
                        {%endif%}
                    {% endfor %}
                </thead>
            </table>
        </div>
        <!-- <div class="rejected">
            <table id="rejected-datatable">
                <thead>
                    <tr>
                        <th>Rejected Matches</th>
                    </tr>
                    {% for match in inbox_data %}
                        {% if match[1] == 0 %}
                            <tr>
                                <td>{{match[0]}}</td>
                                <td>{{match[2]}}</td>
                                <td>{{match[3]}}</td>
                            </tr>
                        {%endif%}
                    {% endfor %}
                </thead>
            </table>
        </div> -->
    </body>
</html>