<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/css/main.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    {% include "header.html" %}
    <h1>Inbox Page</h1>

    <div class="pending">
        <table id="pending-datatable">
            <thead>
                <tr>
                    <th>Potential matches</th>
                </tr>
                {% for match in inbox_data %}
                    {% if match[2] is none %}
                        <tr>
                            <td><a href="{{username}}/view_potential?potential_match={{match[1]}}">{{match[1]}}</a></td>
                            <form name="match" action="{{ url_for('inbox', username=username) }}" method="POST">
                                <td><label><input type="radio" name="Status" value="Accept" id="Accept">Accept</label></td>
                                <td><label><input type="radio" name="Status" value="Decline" id="Decline">Decline</label></td>
                                <td><button type=”submit” name="potential_match" value="{{match[1]}}">Submit</button></td>
                            </form>
                        </tr>
                    {%endif%}
                {% endfor %}
            </thead>
        </table>
    </div>
    <br />
    <div class="accepted">
        <table id="accepted-datatable">
            <thead>
                <tr>
                    <th>Matches</th>
                </tr>
                {% for match in inbox_data %}
                    {% if match[2] is true %}
                        <tr>
                            <td><a href="{{username}}/view_matched?match={{match[1]}}">{{match[1]}}</a></td>
                        </tr>
                    {%endif%}
                {% endfor %}
            </thead>
        </table>
    </div>
</body>
</html>