<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="all">
  <link href='https://fonts.googleapis.com/css?family=Domine' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=M PLUS Rounded 1c' rel='stylesheet'>
</head>
  <body>
    <div class="login-container">
      <div class="home-title">
        <p>Mutuals</p>
      </div>
      <br>
      <div class="login-box">
        <div class="login-title">
          <p>Log In</p>
        </div>
        <form action="/" method="post">
          <div class="user-box">
            <input type="text" name="username" id="username" placeholder="Username" required/>
          </div>
          <div class="user-box">
            <input type="password" name="password" id="password" placeholder="Password" required/>
          </div>
          <div class="submit">
            <input type="submit" class="button" value="Log In"/>
          </div>
        </form>
        <form action="signup" method="get">
          <div class="submit">
            <input type="submit" class="button" value="Create Account"/>
          </div>
        </form>
        {%if error_messages%}
          <div class="error">
            {% for error_msg in error_messages: %}
              <p>{{error_msg}}</p>
            {% endfor %}
          </div>
        {%endif%}
      </div>
    </div>
  </body>
</html>