<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/add_friends.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/profile.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/match.css" rel="stylesheet" type="text/css" media="all">

</head>
<body>
    {% include "header.html" %}
    <h1>Match Two Friends</h1>
    <table>
        <h2>Friend 1</h2>
        <select id="myform-friend1" name='category' multiple class="form-control"> // addition here
            {% for friend in my_friends: %}
                <option value={{friend[2]}}>{{friend[0] + friend[1]}}</option>
            {% endfor %}
        </select>
    </table>
    <table>
        <h2>Friend 2</h2>
        <select id="myform-friend2" name='category' multiple class="form-control"> // addition here
            {% for friend in my_friends: %}
                <option value={{friend[2]}}>{{friend[0] + friend[1]}}</option>
            {% endfor %}
        </select>
    </table>

    <button onclick="match()">Match</button>
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        'use strict';

        function get_match_results(match1_username, match2_username) {
            let request = null;
            request = $.ajax({
                url: '/match/{{username}}',
                type: 'POST',
                data: {
                    'match1_username': match1_username,
                    'match2_username': match2_username
                }
            });
        }

        function match() {
            console.log("does it get here");
            var e = document.getElementById("myform-friend1");
            var match1_username = e.options[e.selectedIndex].value;
            var e = document.getElementById("myform-friend2");
            var match2_username = e.options[e.selectedIndex].value;
            get_match_results(match1_username, match2_username);
        }
    $('document').ready(setup);

    </script>
</body>
</html>