<html lang="en">
<head>
    <link href="/static/css/profile.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    {% include "/header.html" %}
    <h1>Edit Your Profile Information</h1>
    <div class="form_holder">
        <div class="profile_form">
            <form action="{{ url_for('profile', username=username) }}" method="post">
                <label for="phone_number">Phone Number</label>
                <input type="phone_number" name="phone_number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{ number|default("000-000-0000", true) }}"><br /><br />
                <label for="residential_college">Residential College</label>
                <select id="residential_college" name="residential_college" value="{{ college }}">
                    <option value="benjamin_franklin" {{ "selected='selected'" if college == 'benjamin_franklin' else ""}}>Benjamin Franklin</option>
                    <option value="berkeley" {{ "selected='selected'" if college == 'berkeley' else ""}}>Berkeley</option>
                    <option value="branford" {{ "selected='selected'" if college == 'branford' else ""}}>Branford</option>
                    <option value="davenport" {{ "selected='selected'" if college == 'davenport' else ""}}>Davenport</option>
                    <option value="ezra_stiles" {{ "selected='selected'" if college == 'ezra_stiles' else ""}}>Ezra Stiles</option>
                    <option value="grace_hopper" {{ "selected='selected'" if college == 'grace_hopper' else ""}}>Grace Hopper</option>
                    <option value="jonathan_edwards" {{ "selected='selected'" if college == 'jonathan_edwards' else ""}}>Jonathan Edwards</option>
                    <option value="morse" {{ "selected='selected'" if college == 'morse' else ""}}>Morse</option>
                    <option value="pauli_murray" {{ "selected='selected'" if college == 'pauli_murray' else ""}}>Pauli Murray</option>
                    <option value="saybrook" {{ "selected='selected'" if college == 'saybrook' else ""}}>Saybrook</option>
                    <option value="silliman" {{ "selected='selected'" if college == 'silliman' else ""}}>Siliman</option>
                    <option value="timothy_dwight" {{ "selected='selected'" if college == 'timothy_dwight' else ""}}>Timothy Dwight</option>
                    <option value="trumbull" {{ "selected='selected'" if college == 'trumbull' else ""}}>Trumbull</option>
                </select>
                <br>
                <label for="class_year">Class Year</label>
                <select id="class_year" name="class_year" value=" {{class_year}} ">
                    <option value="2023" {{ "selected='selected'" if class_year == '2023' else ""}}>2023</option>
                    <option value="2024" {{ "selected='selected'" if class_year == '2024' else ""}}>2024</option>
                    <option value="2025" {{ "selected='selected'" if class_year == '2025' else ""}}>2025</option>
                    <option value="2026" {{ "selected='selected'" if class_year == '2026' else ""}}>2026</option>
                </select>
                <br>
                <label for="gender">Gender</label>
                <select id="gender" name="gender" value = " {{gender}} ">
                    <option value="male" {{ "selected='selected'" if gender == 'male' else ""}}>Male</option>
                    <option value="female" {{ "selected='selected'" if gender == 'female' else ""}}>Female</option>
                    <option value="nonbinary" {{ "selected='selected'" if gender == 'nonbinary' else ""}}>Non-binary</option>
                </select>
                <br>
                <label for="orientation">Sexual Orientation</label>
                <select id="orientation" name="orientation" value = " {{orientation}} ">
                    <option value="straight" {{ "selected='selected'" if orientation == 'straight' else ""}}>Straight</option>
                    <option value="gay" {{ "selected='selected'" if orientation == 'gay' else ""}}>Gay</option>
                    <option value="lesbian" {{ "selected='selected'" if orientation == 'lesbian' else ""}}>Lesbian</option>
                    <option value="bisexual" {{ "selected='selected'" if orientation == 'bisexual' else ""}}>Bisexual</option>
                </select>
                <br>
                <label for="match_preference">Match Me With</label>
                <select id="match_preference" name="match_preference" value = " {{match_preference}} ">
                    <option value="male" {{ "selected='selected'" if match_preference == 'male' else ""}}>Male</option>
                    <option value="female" {{ "selected='selected'" if match_preference == 'female' else ""}}>Female</option>
                    <option value="nonbinary" {{ "selected='selected'" if match_preference == 'nonbinary' else ""}}>Non-binary</option>
                </select>
                <br>
                <input type="submit" class="button" value="Submit"/>
            </form>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class=flashes>{{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if confirmation_message is not none %}
        {{confirmation_message}}
    {%endif%}
</body>
</html>