<html lang="en">
<head>
    <link href="static/css/main.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <h1 style="text-align:center;">Mutuals</h1>
        <div class="box">
          {%if error_messages%}
          <div>
            {% for error_msg in error_messages: %}
            <p>{{error_msg}}</p>
            {% endfor %}
          </div>
          {%endif%}
        <h1>Signup</h1>
        <form action="signup" method="post">
            <input type="text" name="firstname" id="firstname" placeholder="First Name" required/>
            <br>
            <input type="text" name="lastname" id="lastname" placeholder="Last Name" required/>
            <br>
            <input type="text" name="username" id="username" placeholder="Username" required/>
            <br>
            <input type="password" name="password" id="password" placeholder="Password" required/>
            <input type="submit" class="button" value="Submit"/>
            <br>
        </form>
    </div>

    {%if users%}
    <div class="row">
      <div class="column">
        <h2>Registered Users List</h2>
        <table>
          {%for user in users%}
            <tr>
              <td>{{user[0]}}</td>
            </tr>
          {%endfor%}
        </table>
      </div>
      <div class="column">
        <h2>Users List 2</h2>
        <table>
          {%for user in users%}
            <tr>
              <td>{{user[0]}}</td>
            </tr>
          {%endfor%}
        </table>
      </div>

    </div>
    {%endif%}

</body>
</html>