<html lang="en">
<head>
    <link href="static/css/main.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    {% include "header.html" %}

    <h1 style="text-align:center;">Mutuals</h1>
        <div class="box">
        <h1>Signup</h1>
        <form action="signup" method="post">
            <input type="text" name="firstname" id="firstname" placeholder="First Name" required/>
            <br>
            <input type="text" name="lastname" id="lastname" placeholder="Last Name" required/>
            <br>
            <input type="text" name="username" id="username" placeholder="Username" required/>
            <br>
            <input type="password" name="password" id="password" placeholder="Password" required/>
            <input type="submit" class="button" value="Submit"/>
            <br>
        </form>
        {%if error_messages%}
          <div>
            {% for error_msg in error_messages: %}
              <p>{{error_msg}}</p>
            {% endfor %}
          </div>
        {%endif%}
    </div>
</body>
</html>